* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: gray;
}
main {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
header {
  max-width: 1920px;
  width: 100%;
  height: 56px;
  position: fixed;
  background-color: white;
}
.teslaLogoContainer {
  width: 220px;
}
.teslaLogo {
  width: 151.82px;
  height: 12.33px;
}
.headerTextContainer {
  width: 460px;
}
.headerIconsContainer {
  width: 220px;
  gap: 4px;
}
.headerText {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: black;
}
.headerTextHover {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 56px;
  color: black;
  cursor: pointer;
  display: inline-block;
}
.headerIcon {
  opacity: 0;
}
.hoverContainer {
  width: 100%;
  height: 487px;
  background-color: white;
  position: absolute;
  top: 56px;
  left: 0px;
  z-index: 1;
  display: none;
}
.everyContainer {
  width: 1800px;
  height: 359px;
  margin-left: 60px;
  margin-top: 64px;
  gap: 150px;
}
.vehiclesTextContainer {
  width: 300px;
  height: 358px;
  flex-direction: column;
  gap: 12px;
}
.carsContainer {
  width: 1050px;
  height: 358px;
  margin-left: 150px;
  flex-wrap: wrap;
  gap: 16px;
}
.carModels {
  width: 250.5px;
  height: 171.75px;
  flex-direction: column;
}
.carImg {
  width: 220px;
  height: 123.75px;
  margin-left: 15.25px;
}
.carName {
  font-size: 17px;
  font-weight: 500;
  margin-left: 93.25px;
  font-family: "Montserrat", sans-serif;
}
.vehicelsText {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #171a20;
  cursor: pointer;
}
.headerTextHover:hover + .hoverContainer {
  display: block;
}
.hoverContainer:hover {
  display: block;
}
.energyHoverContainer {
  width: 100%;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 56px;
  left: 0px;
  z-index: 1;
  display: none;
}
.energyHover {
  cursor: pointer;
  line-height: 56px;
  display: inline-block;
}
.energyEveryContainer {
  height: 300px;
  width: 928px;
  margin-left: 350px;
  gap: 16px;
  position: relative;
}
.solarPanelHover {
  height: 124px;
  width: 220px;
}
.solar {
  position: absolute;
  left: 60px;
  top: 225px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.energyUnderline {
  position: absolute;
  left: 70px;
  top: 250px;
  cursor: pointer;
}
.solarRoofHover {
  height: 124px;
  width: 220px;
}
.solarRoof {
  position: absolute;
  left: 300px;
  top: 225px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.energyUnderline1 {
  position: absolute;
  left: 302px;
  top: 250px;
  cursor: pointer;
}
.powerWallHover {
  height: 124px;
  width: 220px;
}
.powerwall {
  position: absolute;
  left: 540px;
  top: 225px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.energyUnderline2 {
  position: absolute;
  left: 544px;
  top: 250px;
  cursor: pointer;
}
.megaPackHover {
  width: 220px;
  height: 124px;
}
.megapack {
  position: absolute;
  left: 780px;
  top: 225px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.energyUnderline3 {
  position: absolute;
  left: 783px;
  top: 250px;
  cursor: pointer;
}
.energyTextContainer {
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #171a20;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 1450px;
}
.energyHover:hover + .energyHoverContainer {
  display: block;
}
.energyHoverContainer:hover {
  display: block;
}
.chargingHoverContainer {
  width: 100%;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 56px;
  left: 0px;
  z-index: 1;
  display: none;
}
.chargingHoverTextContainer {
  width: 1050px;
  height: 262px;
  margin-left: 350px;
  margin-top: 70px;
}
.chargingImgs {
  gap: 16px;
}
.chargingText {
  text-align: center;
}
.chargingHover {
  line-height: 56px;
}
.chargingHover:hover + .chargingHoverContainer {
  display: block;
}
.chargingHoverContainer:hover {
  display: block;
}
.discoverHoverContainer {
  width: 100%;
  height: 475px;
  background-color: white;
  position: absolute;
  top: 56px;
  left: 0px;
  z-index: 1;
  display: none;
}
.resources {
  color: gray;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 65px;
  left: 540px;
  line-height: 17px;
}
.discoverFirstColumn {
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #171a20;
  cursor: pointer;
  position: absolute;
  top: 110px;
  left: 540px;
  line-height: 17px;
}
.location {
  color: gray;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 65px;
  left: 810px;
  line-height: 17px;
}
.discoverSecondColumn {
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #171a20;
  cursor: pointer;
  position: absolute;
  top: 110px;
  left: 810px;
  line-height: 17px;
}
.company {
  color: gray;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 65px;
  left: 1125px;
  line-height: 17px;
}
.discoverThirdColumn {
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #171a20;
  cursor: pointer;
  position: absolute;
  top: 110px;
  left: 1125px;
  line-height: 17px;
}
.discoverHover {
  line-height: 57px;
}
.discoverHover:hover + .discoverHoverContainer {
  display: block;
}
.discoverHoverContainer:hover {
  display: block;
}
.shopHover {
  line-height: 57px;
}
.shopHoverContainer {
  width: 100%;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 56px;
  left: 0px;
  z-index: 1;
  display: none;
}
.shopImgs {
  gap: 60px;
  margin-top: 70px;
  cursor: pointer;
}
.shopTexts {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}
.chargingTextShop {
  margin-left: 495px;
}
.vehicleAcc {
  margin-left: 170px;
}
.Apparel {
  margin-left: 160px;
}
.Lifestyle {
  margin-left: 206px;
}
.shopHover:hover + .shopHoverContainer {
  display: block;
}
.shopHoverContainer:hover {
  display: block;
}
.video1 {
  position: absolute;
  z-index: -1;
  height: 975px;
  width: 100%;
  object-fit: cover;
}
.heroContainer {
  flex-direction: column;
  text-align: center;
}
.heroTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-top: 128px;
  line-height: 48px;
}
.heroPrice {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 6px;
  line-height: 20px;
}
.heroDesc {
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-top: 2px;
  line-height: 20px;
}
.heroButton {
  gap: 24px;
}
.button {
  height: 40px;
  width: 264px;
  margin-top: 611px;
  border-radius: 4px;
  filter: blur(8);
  cursor: pointer;
}
.buttonText {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.footer {
  flex-direction: column;
  text-align: center;
}
.footerTitle {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  color: white;
  margin-top: 32px;
}
.footerSubtitle {
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.video2 {
  position: absolute;
  z-index: -1;
  height: 975px;
  width: 100%;
  object-fit: cover;
  margin-top: 32px;
}
.video3 {
  position: absolute;
  z-index: -1;
  height: 975px;
  width: 100%;
  object-fit: cover;
  margin-top: 32px;
}
.video4 {
  position: absolute;
  z-index: -1;
  height: 975px;
  width: 100%;
  object-fit: cover;
  margin-top: 32px;
}
#cybertruck {
  margin-top: 32px;
  height: 975px;
  background-size: cover;
}
.video5 {
  position: absolute;
  z-index: -1;
  height: 975px;
  width: 100%;
  object-fit: cover;
}
#solarPanels {
  height: 975px;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
}
#solarRoof {
  height: 975px;
  background-size: cover;
  width: 100%;
}
#powerWall {
  height: 975px;
  background-size: cover;
  width: 100%;
}
#acc {
  height: 975px;
  background-size: cover;
  width: 100%;
}
footer {
  height: 70px;
  width: 100%;
  margin-top: 32px;
  color: #d0d1d2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  gap: 14px;
}
.headerTextHover:hover .hoverContainer {
  display: block;
}
